h1{
    display: block;
    text-align: center;
    font-size: 100px;
    color: blue;
}

h2 {
    display: block;
    font-size: 30px;
    text-shadow: 5px 5px 2px gold;
    color: blue;
}
ol {
  list-style-image: url('../imgs/tinyM.png');
}